<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<h1>This is book!</h1>
<div>
    <form id="edit-book_form" th:action="@{/edit(id=${book.id})}" th:method="post" action="edit.html">
        <h3>Book edit:</h3>

        <div >
            <label for="id-input">ID:</label>
            <input id="id-input" type="text" readonly="readonly" th:value="${book.id}" value="1"/>
        </div>

        <div>
            <label for="name-input">Name:</label>
            <input id="name-input" name="name" type="text" th:value="${book.name}" value="Funny book"/>
        </div>

        <div th:object="${book.author}">
            <select id="authors-input" name="author">
                <option value="0">Select author</option>
                <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.firstName} + ' ' + ${author.lastName}"></option>
            </select>
        </div>

        <div th:object="${book.genre}">
            <select id="genres-input" name="genre">
                <option value="0">Select genre</option>
                <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.genre}"></option>
            </select>
        </div>

        <div >
            <button type="submit">Save</button>
        </div>
    </form>
</div>
</body>
</html>